.main-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.container {
  min-width: 1000px;
  min-height: 1000px;
  background: red;
}

.item {
  min-width: 90px;
  min-height: 50px;
  background: blue;
}